# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = coffemugtester
	email = coffeemugtester@gmail.com
[core]
	excludesfile = ~/.gitignore_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection

[merge]
  conflictStyle = zdiff3
[diff]
	tool = nvimdiff
